body {
  background-color: blue;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.control-panel {
  position: absolute;
  top: 50px;
  right: 100px;
  width: 400px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 24px 48px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
}

.control-panel2 {
  position: absolute;
  top: 400px;
  right: 100px;
  width: 400px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 24px 48px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
}

.progressBar {
  position: relative;
  height: 20px;
  width: 200px;
  border-radius: 50px;
  border: 1px solid #000;
}

.filter {
  background-color: blue;
  height: 100%;
  border-radius: inherit;
  transition: width .5s ease;
}